.App {
  display:flex;
}

.example::-webkit-scrollbar {
  display: none;
}

.example::-webkit-scrollbar-button{
  display:none;
}

.alldata{
  margin: auto;
  width: 95%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.tabledata{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.datradiv1{
  
}

.dataMain{
  height:40vh;
  align-items: center;
  display:flex;
  overflow:scroll;
}

.parentDiv{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dataCard1{
  width:400px;
  min-width:300px;
  height:300px;
  background-color:rgb(241, 123, 127);
  border-radius:40px;
  text-align:center;
  
  margin-left: 30px;
  margin-right: 30px;
}

.dataCard2{
  width:400px;
  min-width:300px;
  height:300px;
  background-color:rgb(2,163,236);
  border-radius:40px;
  text-align:center;
  
  margin-left: 30px;
  margin-right: 30px;
}

.dataCard3{
  width:400px;
  min-width:300px;
  height:300px;
  background-color:rgb(138,67,146);
  border-radius:40px;
  text-align:center;
  
  margin-left: 30px;
  margin-right: 30px;
}

.dataCard4{
  width:400px;
  min-width:300px;
  height:300px;
  background-color:rgb(58,181,75);
  border-radius:40px;
  text-align:center;
  
  margin-left: 30px;
  margin-right: 30px;
}

.heading{
  color: antiquewhite;
}

.numbers{
  margin-top: 70px;
}

.NavBar{
  height:100px;
  background-color:rgb(63,81,181);
  text-align: center;
  align-items: center;
  align-content: center;
}

.textnav{
  color: aliceblue;
}

.navicons{
  margin-left:90px;
  align-items: center;
  text-align: center;
  display:flex;
}

.NavbarUp{
  height:50px;
  background-color:rgb(63,81,181);
  text-align: center;
}